<div class="wrapper">
  <div id="body" class="active">
    <div class="content">
      <div class="container-fluid mt-5">
        <div *ngIf="!validated" class="row">
          <div class="col-6">
            <h1>Welcome to QuizMaker.</h1>
            <ul>
              <li>Please fill the following infomation to continue.</li>
              <li>
                Please fill the same email and User Name if you are returning to
                this quiz. Otherwise your previous answers will not be shown.
              </li>
            </ul>
            <form method="POST" autocomplete="off">
              <div class="form-group">
                <input
                  type="text"
                  [(ngModel)]="user.name"
                  name="QuizUserName"
                  class="form-control"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  [(ngModel)]="user.email"
                  name="QuizUserEmail"
                  class="form-control"
                  placeholder="Your Email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  [(ngModel)]="user.enrollment"
                  name="QuizUserEmail"
                  class="form-control"
                  placeholder="Your Enrollment"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  [(ngModel)]="user.password"
                  name="quizPassword"
                  class="form-control"
                  placeholder="Quiz Password"
                  required
                />
              </div>
              <button
                (click)="StartQuiz()"
                type="submit"
                class="btn btn-primary shadow-2 mb-4"
              >
                Start
              </button>
            </form>
          </div>
          <div class="col-6 mt-5">
            <div class="card">
              <div class="card-header">Instructions</div>
              <div class="card-body">
                <ul>
                  <li>No of questions : {{ totalQuestions }}</li>
                  <li *ngIf="timeLimit === 0">Has no time limit</li>
                  <li *ngIf="timeLimit > 0">
                    You have only <strong>{{ timeLimit }} minutes</strong>.
                  </li>
                  <li>No of attempts : Unmilited</li>
                  <li>Can save and finish later : Yes</li>
                  <li>Will allow you to come back and change</li>
                  <li>
                    Will not allow you to finish with any questions unattempted.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="validated && !isSubmitted && showQuizPanel">
          <quiz-question
            (stopwatch)="onStopWatchChange($event)"
            (submit)="onQuizSubmit($event)"
            (timer)="onTimerEventChange($event)"
            (answer)="onAnswerChange($event)"
            (next)="onNextClick($event)"
            (previous)="onPreviousClick($event)"
            [question]="currentQuestion"
            [canSubmit]="canSubmitQuiz"
            [questionList]="questionsList"
            [timeLimit]="timeLimit"
            [hasTimeLimit]="hasTimeLimit"
          >
          </quiz-question>
        </div>
        <div *ngIf="isSubmitted && !showQuizPanel" class="text-center">
          <h2>Thank you. Your Quiz submitted successfully.</h2>
          <br />
          <br />
          <h3>Quiz Results Summary</h3>
        </div>
        <br />
        <ngx-spinner type="square-jelly-box" [fullScreen]="false"
          ><p style="color: white">Loading results...</p></ngx-spinner
        >
        <div
          style="font-size: larger"
          *ngIf="isSubmitted && !showQuizPanel"
          class="d-flex justify-content-center"
        >
          <div class="d-flex flex-column">
            <p>
              Total no of questions:
              <strong>{{ answerSummery.totalQuestions }}</strong>
            </p>
            <p>
              Total marks:
              <strong>{{ answerSummery.totalMark | number: "1.2-2" }}</strong>
            </p>
            <p>
              Marks Obtained:
              <strong>{{
                answerSummery.marksObtained | number: "1.2-2"
              }}</strong>
            </p>
            <p>
              Correct Answers:
              <strong>{{ answerSummery.correctAnswers }}</strong>
            </p>
            <p>
              Incorrect Answers:
              <strong>{{ answerSummery.incorrectAnswers }}</strong>
            </p>
            <p>
              Duration:
              <strong>{{ answerSummery.duration }}</strong>
            </p>

            <br />
            <h4>Marks Distribution</h4>
            <ol>
              <li *ngFor="let item of answerSummery.summeryTexts">
                {{ item }}
              </li>
            </ol>
          </div>
        </div>

        <br />

        <!-- <h6>Your marks will be notified through an e-mail.</h6> -->
      </div>
    </div>
  </div>
</div>
